:root {
    --secondary-bg: #5E0A6C;
    --accent-color: #B10E5C;
    --dark-bg: #02010A;
    --light-text: #f8f9fa;
    --muted-text: #cccccc;
}

body {
    background-color: #450a5e45;
    color: var(--light-text);
    font-family: 'Segoe UI', sans-serif;
    color: var(--light-text);
}

.comment-card {
    background-color: var(--secondary-bg);
    border: 1px solid var(--accent-color);
    border-radius: 8px;
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s, box-shadow 0.2s;
}

.comment-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.comment-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.95rem;
    color: var(--muted-text);
    font-weight: bolder;
}

.comment-message {
    flex-grow: 1;
    margin: 0.75rem 0;
    font-size: 0.95rem;
    line-height: 1.4;
    color: var(--light-text);
    word-break: break-word;
}

.comment-footer {
    font-size: 0.9rem;
    color: var(--muted-text);
    text-align: right;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 0.5rem;
    font-style: italic;
}

.btn-primary {
    background-color: var(--accent-color);
    border: none;
}

.btn-primary:hover {
    background-color: #d81b60;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(177, 14, 92, 0.5);
}

@media(max-width: 768px){
    main h2{
        text-align: center;
    }
}